/* ProfilePage.css */

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-item {
    margin-bottom: 20px;
  }
  
  .profile-item h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .profile-item p {
    margin: 0;
    font-size: 16px;
  }
  
/* Style for the buttons */
button {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px; /* Adjust padding for the desired button size */
    cursor: pointer;
    border-radius: 5px; /* Optional: Adds rounded corners to the button */
    transition: background-color 0.3s ease; /* Adds a smooth transition effect on hover */
  }
  
  /* Hover effect for the buttons */
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }

body {
  background-image: url('./images/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}  
/*.profile-page {
  /*background-image: url('./images/background2.jpg');
  background-size: cover;

 } */

.profile-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.short-link-box input {
  width: 300px; /* Set the desired width for the input box */
  margin-right: 5px; /* Adjust the margin between input and button */
}
  
.content-box {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 50%;
  box-sizing:border-box;
  background-color: #FF99d7;
}