/* LinkSubmissionForm.css */

.add-link-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.add-link-button:hover {
  background-color: #218838;
}

.remove-link-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: none;
  transition: background-color 0.3s ease;
}

.remove-link-button:hover {
  background-color: #c82333;
}

.form-group:hover .remove-link-button {
  display: inline-block; /* Show remove button only for hovered form group */
}

.generate-portfolio-button {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.generate-portfolio-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

body {
  background-image: url('./images/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
/*.link-submission-form {
  background-image: url('./images/background1.jpg');
  background-size: cover;
  filter: blur(5px);
}*/

input, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

input {
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

