/* footer.css */
footer {
    background-color: #d4d7d9; /* Footer background color */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    overflow-y: auto;
    /* Additional styles for your footer */
  }
  
  