/* footer.css */
footer {
    background-color: #1d2022; /* Footer background color */
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    overflow-y: auto;
    /* Additional styles for your footer */
  }

  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  